[submodule "ACE/engine/third_party/cppzmq"]
	path = ACE/engine/third_party/cppzmq
	url = git@github.com:KuhakuPixel/cppzmq.git
[submodule "ACE/engine/third_party/libzmq"]
	path = ACE/engine/third_party/libzmq
	url = git@github.com:KuhakuPixel/libzmq.git
